__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/
ENV/

build/
dist/
site/
*.egg-info/
.eggs/
*.egg

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

.ipynb_checkpoints/

.DS_Store
.idea/
.vscode/
